body{
    margin:0;
    padding:20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background:linear-gradient(to right,#eef5ff,#dfefff);
}

header{
    width:75%;
    background:#d9e8ff;
    padding:20px;
    border-radius:12px;
    box-shadow:0 8px 18px rgba(0,0,0,0.25);
    transition:0.3s;
}

header:hover{
    transform:translateY(-4px);
    box-shadow:0 12px 22px rgba(0,0,0,0.30);
}

header h1{
    margin:0;
    color:#1d3557;
    font-size:45px;
}

header p{
    font-size:20px;
    color:#333;
}

nav{
    width:75%;
    background:#2f5d62;
    padding:15px;
    border-radius:10px;
    box-shadow:0 5px 12px rgba(0,0,0,0.20);
}

nav a{
    text-decoration:none;
    color:white;
    background:#4b7bec;
    padding:10px 20px;
    margin:8px;
    border-radius:6px;
    display:inline-block;
    transition:0.3s;
}

nav a:hover{
    background:#2d6cdf;
    transform:translateY(-4px);
    box-shadow:0 6px 12px rgba(0,0,0,0.30);
}

section{
    width:75%;
    background:white;
    padding:30px;
    border-radius:12px;
    box-shadow:0 8px 20px rgba(0,0,0,0.20);
    transition:0.3s;
}

section:hover{
    transform:translateY(-5px);
    box-shadow:0 12px 25px rgba(0,0,0,0.28);
}

section h2{
    color:#1d3557;
}

section p{
    font-size:18px;
    line-height:30px;
    color:#444;
}

footer{
    width:75%;
    background:#d9e8ff;
    padding:15px;
    border-radius:10px;
    box-shadow:0 5px 12px rgba(0,0,0,0.20);
    transition:0.3s;
}

footer:hover{
    transform:translateY(-3px);
}

input:focus,
textarea:focus,
select:focus{
    outline:none;
    box-shadow:0 0 8px #4b7bec;
}